        <!-- ========================  Block banner fashion ======================== -->

        <section class="blog blog-block">

            <!-- === header === -->

            <header class="hidden">
                <div class="text-center"><h2 class="title">Fashion</h2></div>
            </header>

            <div class="row row-clean">

                <!-- === blog item === -->

                <div class="col-sm-4">
                    <article>
                        <div>
                            <div class="image">
                                <img src="assets/images/shop-3.jpg" alt="" />
                            </div>
                            <div class="entry entry-block">
                                <div class="date">Shop for</div>
                                <div class="title">
                                    <h2 class="h3">Woman's</h2>
                                </div>
                                <div class="description">
                                    <ul>
                                        <li>
                                            <a href="#">New arrivals</a>
                                        </li>
                                        <li>
                                            <a href="#">Doscount sale collection</a>
                                        </li>
                                        <li class="more">
                                            <a href="#">More</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === blog item === -->

                <div class="col-sm-4">
                    <article>
                        <div>
                            <div class="image">
                                <img src="assets/images/shop-4.jpg" alt="" />
                            </div>
                            <div class="entry entry-block">
                                <div class="date">Shop for</div>
                                <div class="title">
                                    <h2 class="h3">Man's</h2>
                                </div>
                                <div class="description">
                                    <ul class="col">
                                        <li>
                                            <a href="#">New arrivals</a>
                                        </li>
                                        <li>
                                            <a href="#">Doscount sale collection</a>
                                        </li>
                                        <li class="more">
                                            <a href="#">More</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === blog item === -->

                <div class="col-sm-4">
                    <article>
                        <div>
                            <div class="image">
                                <img src="assets/images/shop-5.jpg" alt="" />
                            </div>
                            <div class="entry entry-block">
                                <div class="date">Shop for</div>
                                <div class="title">
                                    <h2 class="h3">Kids</h2>
                                </div>
                                <div class="description">
                                    <ul class="col">
                                        <li>
                                            <a href="#">New arrivals</a>
                                        </li>
                                        <li>
                                            <a href="#">Doscount sale collection</a>
                                        </li>
                                        <li class="more">
                                            <a href="#">More</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

            </div> <!--/row-->
        </section>