 <!-- ========================  Icons slider ======================== -->

 <section class="owl-icons-wrapper">

    <!-- === header === -->

    <header class="hidden">
        <div class="text-center"><h2 class="title">Product categories</h2></div>
    </header>

    <div class="clearfix">

        <div class="owl-icons owl-icons-rounded owl-icons-frontpage">

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="assets/images/product-1.png" alt="Alternate Text" />
                    <figcaption>Shoes</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="assets/images/product-2.png" alt="Alternate Text" />
                    <figcaption>Gadgets</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="assets/images/product-3.png" alt="Alternate Text" />
                    <figcaption>TV & Video </figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="assets/images/product-4.png" alt="Alternate Text" />
                    <figcaption>Drones</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="assets/images/product-5.png" alt="Alternate Text" />
                    <figcaption>Cameras</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="assets/images/product-6.png" alt="Alternate Text" />
                    <figcaption>Mobile phones</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="assets/images/product-7.png" alt="Alternate Text" />
                    <figcaption>Accessories</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="assets/images/product-8.png" alt="Alternate Text" />
                    <figcaption>Home</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="#">
                <figure>
                    <img src="assets/images/product-9.png" alt="Alternate Text" />
                    <figcaption>Projectors</figcaption>
                </figure>
            </a>




        </div> <!--/owl-icons-->
    </div> <!--/container-->
</section>