
        <!-- ========================  Blog ======================== -->

        <section class="blog blog-widget blog-animation">

            <!-- === blog header === -->

            <header>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h1 class="h2 title">Blog</h1>
                        <div class="text">
                            <p>Latest news from the blog</p>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container">

                <div class="row">

                    <!-- === blog item === -->

                    <div class="col-sm-3">
                        <article>
                            <a href="article.html">
                                <div class="image" style="background-image:url(assets/images/blog-1.jpg)">
                                    <img src="assets/images/blog-1.jpg" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>08</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Turn off the lights before bed with one word</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                    <div class="col-sm-3">
                        <article>
                            <a href="article.html">
                                <div class="image" style="background-image:url(assets/images/blog-2.jpg)">
                                    <img src="assets/images/blog-2.jpg" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>03</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Lock the front door when you head to work</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                    <div class="col-sm-3">
                        <article>
                            <a href="article.html">
                                <div class="image" style="background-image:url(assets/images/blog-3.jpg)">
                                    <img src="assets/images/blog-3.jpg" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>01</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Get a notification when your kids walk in the door</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                    <div class="col-sm-3">
                        <article>
                            <a href="article.html">
                                <div class="image" style="background-image:url(assets/images/blog-4.jpg)">
                                    <img src="assets/images/blog-4.jpg" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>01</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Wake up to a warm cup of coffee</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                </div> <!--/row-->
            </div>
            <!-- === button more === -->

            <div class="wrapper-more">
                <a href="blog-grid.html" class="btn btn-lg">View all posts</a>
            </div> <!--/container-->
        </section>