       <!-- ========================  Block banner shop  ======================== -->

       <section class="blog blog-block">

        <!-- === header === -->

        <header class="hidden">
            <div class="text-center"><h2 class="title">Banner</h2></div>
        </header>

        <div class="row row-clean">

            <!-- === blog item === -->

            <div class="col-lg-6">
                <article>
                    <div>
                        <div class="image">
                            <img src="assets/images/cat-1.jpg" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">Shop for</div>
                            <div class="title">
                                <h2 class="h3">Boxing & MMA Equipment</h2>
                            </div>
                            <div class="description">
                                <ul>
                                    <li>
                                        <a href="#">New arrivals</a>
                                    </li>
                                    <li>
                                        <a href="#">Doscount sale collection</a>
                                    </li>
                                    <li class="more">
                                        <a href="#">More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- === blog item === -->

            <div class="col-lg-6">
                <article>
                    <div>
                        <div class="image">
                            <img src="assets/images/cat-2.jpg" alt="" />
                        </div>
                        <div class="entry entry-block">
                            <div class="date">Shop for</div>
                            <div class="title">
                                <h2 class="h3">Fitness, Running & Yoga Equipment</h2>
                            </div>
                            <div class="description">
                                <ul class="col">
                                    <li>
                                        <a href="#">New arrivals</a>
                                    </li>
                                    <li>
                                        <a href="#">Doscount sale collection</a>
                                    </li>
                                    <li class="more">
                                        <a href="#">More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </div>


        </div> <!--/row-->
    </section>