    <!-- ========================  Block banner category ======================== -->

    <section class="blog blog-block">

        <!-- === header === -->

        <header class="hidden">
            <div class="text-center"><h2 class="title">Categories</h2></div>
        </header>

        <div class="row row-clean">

            <!-- === blog item === -->

            <div class="col-md-6">
                <article>
                    <div>
                        <div class="image">

                            <!--Desktop image-->
                            <img src="assets/images/shop-1.jpg" alt="" class="hidden-xs" />

                            <!--Mobile image-->
                            <img src="assets/images/shop-1-mobile.jpg" alt="" class="visible-xs" />

                        </div>
                        <div class="entry entry-block">
                            <div class="date">Shop for</div>
                            <div class="title">
                                <h2 class="h3">Electronics</h2>
                            </div>
                            <div class="description">
                                <ul>
                                    <li>
                                        <a href="">Computers &amp; tablets</a>
                                    </li>
                                    <li>
                                        <a href="">Cameras &amp; photo</a>
                                    </li>
                                    <li>
                                        <a href="">TV, audio &amp; surveillance</a>
                                    </li>
                                    <li>
                                        <a href="">Cell phones &amp; accessories</a>
                                    </li>
                                    <li class="more">
                                        <a href="#">More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- === blog item === -->

            <div class="col-md-6">
                <article>
                    <div>
                        <div class="image">

                            <!--Desktop image-->
                            <img src="assets/images/shop-2.jpg" alt="" class="hidden-xs" />

                            <!--Mobile image-->
                            <img src="assets/images/shop-2-mobile.jpg" alt="" class="visible-xs" />

                        </div>
                        <div class="entry entry-block">
                            <div class="date">Shop for</div>
                            <div class="title">
                                <h2 class="h3">Home, Furniture & Appliances</h2>
                            </div>
                            <div class="description">
                                <ul class="col">
                                    <li>
                                        <a href="#">Vacuums & Floor Care</a>
                                    </li>
                                    <li>
                                        <a href="#">Washers & Dryers</a>
                                    </li>
                                    <li>
                                        <a href="#">Refrigerators</a>
                                    </li>
                                    <li>
                                        <a href="#">Dishwashers</a>
                                    </li>
                                    <li class="more">
                                        <a href="#">More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div> <!--/row-->
    </section>