    <!-- ========================  Blog Block ======================== -->

    <section class="blog blog-block blog-intro">

        <div class="container">

            <!-- === blog header === -->

            <header class="hidden">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h2 class="title">Check out our featured news</h2>
                        <div class="text">
                            <p>Keeping things minimal</p>
                        </div>
                    </div>
                </div>
            </header>
            
            <div class="row row-clean">
                <!-- === blog item === -->

<div class="col-xs-6 col-sm-3">
    <article>
        <a href="products-grid.html">
            <div class="image">
                <img src="assets/images/project-2.jpg" alt="" />
            </div>
            <div class="entry entry-block">
                <div class="date">New arrivals</div>
                <div class="title">
                    <h2 class="h3">Electronics</h2>
                </div>
                <div class="description">
                    <p>
                        Explore popular devices
                    </p>
                </div>
            </div>
            <div class="show-more">
                <span class="btn btn-clean">Shop now</span>
            </div>
        </a>
    </article>
</div>

<!-- === blog item === -->

<div class="col-xs-6 col-sm-3">
    <article>
        <a href="products-grid.html">
            <div class="image">
                <img src="assets/images/project-2.jpg" alt="" />
            </div>
            <div class="entry entry-block">
                <div class="date">New arrivals</div>
                <div class="title">
                    <h2 class="h3">Electronics</h2>
                </div>
                <div class="description">
                    <p>
                        Explore popular devices
                    </p>
                </div>
            </div>
            <div class="show-more">
                <span class="btn btn-clean">Shop now</span>
            </div>
        </a>
    </article>
</div>

<!-- === blog item === -->

<div class="col-xs-6 col-sm-3">
    <article>
        <a href="products-grid.html">
            <div class="image">
                <img src="assets/images/project-2.jpg" alt="" />
            </div>
            <div class="entry entry-block">
                <div class="date">New arrivals</div>
                <div class="title">
                    <h2 class="h3">Electronics</h2>
                </div>
                <div class="description">
                    <p>
                        Explore popular devices
                    </p>
                </div>
            </div>
            <div class="show-more">
                <span class="btn btn-clean">Shop now</span>
            </div>
        </a>
    </article>
</div>

<!-- === blog item === -->

<div class="col-xs-6 col-sm-3">
    <article>
        <a href="products-grid.html">
            <div class="image">
                <img src="assets/images/project-2.jpg" alt="" />
            </div>
            <div class="entry entry-block">
                <div class="date">New arrivals</div>
                <div class="title">
                    <h2 class="h3">Electronics</h2>
                </div>
                <div class="description">
                    <p>
                        Explore popular devices
                    </p>
                </div>
            </div>
            <div class="show-more">
                <span class="btn btn-clean">Shop now</span>
            </div>
        </a>
    </article>
</div>
            </div> <!--/row-->

            <!-- === button more === -->

            <div class="wrapper-more">
                <a href="ideas.html" class="btn btn-lg">View all categories</a>
            </div>

        </div> <!--/container-->
    </section>