<div class="page-loader"></div>
<div class="wrapper">
  <app-navegation></app-navegation>
  <app-header></app-header>
  <app-blog-categories></app-blog-categories>
  <app-blog-banner-category></app-blog-banner-category>
  <app-icon-slider></app-icon-slider>
  <app-best-seller></app-best-seller>
  <app-blog-banner-product></app-blog-banner-product>
  <app-widget-product></app-widget-product>
  <app-blog-banner-shop></app-blog-banner-shop>
  <app-stretcher-widget></app-stretcher-widget>
  <app-cards-landing></app-cards-landing>
  <app-blog-landing></app-blog-landing>
  <app-banner-landing></app-banner-landing>
  <app-instagram-landing></app-instagram-landing>
  <app-footer></app-footer>
</div>