
        <!-- ========================  Stretcher widget ======================== -->

        <section class="stretcher-wrapper">

            <!-- === stretcher header === -->

            <header>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h1 class="h2 title">Premium watches</h1>
                        <div class="text">
                            <p>Give the gift of polished punctuality</p>
                        </div>
                    </div>
                </div>
            </header>

            <!-- === stretcher === -->

            <ul class="stretcher">

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(assets/images/shop-6.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro">Man's</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Man's watches</h4>
                        <figcaption>Collection of prestigious, high precision timepieces</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="#">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(assets/images/shop-7.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro">Woman's</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Womans's watches</h4>
                        <figcaption>Choose among a wonderful variety of refined and feminine timepieces</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="#">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(assets/images/shop-8.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro">Professional</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Professional watches</h4>
                        <figcaption>Discover your favourite model by combining materials</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="#">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(assets/images/shop-9.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="text-intro">Diamond bezzels</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Diamond bezzels</h4>
                        <figcaption>Diamond bezel watch collection of luxurious pieces</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="#">Anchor link</a>
                </li>

                <!-- === stretcher item more=== -->

                <li class="stretcher-item more">
                    <div class="more-icon">
                        <span data-title-show="Show more" data-title-hide="+"></span>
                    </div>
                    <a href="#"></a>
                </li>

            </ul>
        </section>