        <!-- ========================  Cards ======================== -->

        <section id="page-interiors" class="cards">

            <!-- === cards header === -->

            <header>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h2 class="title">Home accessories</h2>
                        <div class="text">
                            <p>Get premium performance compromises!</p>
                        </div>
                    </div>
                </div>
            </header>

            <div class="row row-clean">

                <!-- === item === -->

                <div class="col-md-8">
                    <figure>
                        <figcaption style="background-image:url(assets/images/block-1.png)">
                            <img src="assets/images/blog-1.jpg" alt="" />
                        </figcaption>
                        <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Mobile phones</a>
                    </figure>
                </div>

                <!-- === item === -->

                <div class="col-md-4">
                    <figure>
                        <figcaption style="background-image:url(assets/images/block-2.png)">
                            <img src="assets/images/block-2.png" alt="" />
                        </figcaption>
                        <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Home accessories</a>
                    </figure>
                </div>

                <!-- === item === -->

                <div class="col-md-4">
                    <figure>
                        <figcaption style="background-image:url(assets/images/block-3.png)">
                            <img src="assets/images/block-3.png" alt="" />
                        </figcaption>
                        <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Smart TV</a>
                    </figure>
                </div>

                <!-- === item === -->

                <div class="col-md-4">
                    <figure>
                        <figcaption style="background-image:url(assets/images/block-4.png)">
                            <img src="assets/images/block-4.png" alt="" />
                        </figcaption>
                        <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Chairs</a>
                    </figure>
                </div>

                <!-- === item === -->

                <div class="col-md-4">
                    <figure>
                        <figcaption style="background-image:url(assets/images/block-5.png)">
                            <img src="assets/images/block-5.png" alt="" />
                        </figcaption>
                        <a href="#interiorId1" class="btn btn-clean mfp-open mfp-open-scrollto">Gaming</a>
                    </figure>
                </div>



            </div> <!--/row--> <!--/container-->
            <!-- === button more === -->

            <div class="wrapper-more">
                <a href="products-grid.html" class="btn btn-lg">View more</a>
            </div>
        </section>