<!-- ==========  Pre navigation ========== -->

<div class="navigation navigation-pre clearfix">
    <div class="row">
        <div class="col-md-3">
            <a href="#"><i class="icon icon-heart-pulse"></i> Centro de ayuda</a>
        </div>
        <div class="col-md-3">
            <a href="#"><i class="icon icon-cart"></i> Envíos & sevoluciones</a>
        </div>
        <div class="col-md-3">
            <a href="#"><i class="icon icon-cog"></i> Gift cards</a>
        </div>
        <div class="col-md-3">
            <a href="#"><i class="icon icon-map"></i> Dirección tienda</a>
        </div>
    </div>
</div>